input[type=file] {
    position: relative;
    width: 100%;
    height: 100px;
    /*min-height: 6em;*/
    outline: none;
    visibility: hidden;
    cursor: pointer;
    /*background-color: #c61c23;*/
    box-shadow: 0 0 5px solid var(--basic);
    margin: 0;
}


/*input[type=file]:after {*/
/*    content: 'or drag file here';*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    height: 90px;*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*}*/

input[type=file]:before {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    content: 'Click to upload .html or drag file here';
    position: absolute;
    left: 0;
    width: 100%;
    height: 90%;
    opacity: 1;
    visibility: visible;

    border: 1px dashed var(--basic);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

input[type=file]:hover:before {
    border-style: solid;
    box-shadow: inset 0px 0px 0px 0.25em var(--basic-hover);
}
